<app-sign-up></app-sign-up>   

<div class="container">
<div class="row mb-5">

    <div class="col-md-4 text-right pt-5">
        <img class="align-middle m-5" height="300px" src="/assets/What-Is-Scribe-Image.png">
    </div>

    <div class="offset-md-2 col-md-5">
        <h2 class="mx-5 my-5">What is Scribe?</h2>
        <p class="mx-5 my-1"><strong> is a thought sharing platform where you can share your thoughts and craziest 
            ideas with the world. You can also interact with other people by commenting on thier posts.<br><br>
            Create an account and get started<br><br>
            Let's get started!!
        </strong>
        </p>
    </div>
</div>
</div>

